WF_USER={{ user_name }}
WF_WIRELESS_INTERFACE={{ wireless_interface }}
WF_BATTERY_NAME={{ battery_acpi_name }}
WF_AC_CHARGING_FILE={{ ac_charging_file }}
WF_AUTO_SUSPEND_BATTERY_PERCENTAGE={{ autosuspend_battery_percentage }}
WF_LOW_BATTERY_NOTIFICATION_PERCENTAGE={{ low_battery_notification_percentage }}