[Unit]
Description=Set screen backlight to be writable by members of the backlight group
Requires=systemd-backlight@backlight:intel_backlight.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c "/bin/chown root:backlight /sys/class/backlight/intel_backlight/brightness"
ExecStart=/bin/bash -c "/bin/chmod 0664 /sys/class/backlight/intel_backlight/brightness"

[Install]
WantedBy=multi-user.target
